* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    header,
    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
    }

    main {
        width: 100%;
        max-width: 800px;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;

    input {
        padding: 10px;
        border: none;
        border-bottom: solid 1px #000;
        border-radius: 10px;
        min-width: 210px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #666;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #eee;
    }
}